body {
  padding:0;
  margin:0;
}

.calender {
  color: #2d2e2f;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  box-shadow: 0px 15px 25px rgb(0 0 0 / 10%);
  border-radius: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.sidebar {
  background-color: #981f1e;
  color: white;
  padding: 25px;
  width: 20%;
}

.num-date {
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
}

.day {
  font-size: 2rem;
  position: relative;
  bottom: 10px;
  text-align: center;
  list-style: none;
}

.calander_container {
  width: 80%;
  /* padding: 15px; */
}

.rn-patro-header,
.r-n-cal-month-view {
  width: auto !important;
}

body .r-n-cal-weekdays {
  margin: 0;
  background: #981f1e;
  padding: 1rem 0;
  color: #fff;
}

body .r-n-cal-weekdays > div {
  float: left;
  width: 14%;
  font-weight: bold;
  text-align: center;
}

body .rn-patro-day {
  width: 14%;
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;
  font-weight: bold;
  float: left;
  border: 1px solid #eee;
  border-radius: 0 !important;
  transition: 0.3s;
}

body .rn-patro-day:hover{
  background: #981f1e;
  color: #fff;
  border-radius: 2px;
}

body .today_date {
  background: #981f1e;
  color: #fff;
  border: 2px solid #981f1e;
  border-radius: 2px;
}

body .userSelect_date {
  border: 2px solid #981f1e;
  background: #68c7bf;
}

body .r-n-cal-backBtn,
body .r-n-cal-forwardBtn {
  padding: 20px;
  color: #fff;
  font-size: 1rem;
}

body .rn-patro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom,#b71c1c 0%,#b71c1c 100%);
  margin: 0;
  width: 100% !important;
  padding: 2rem 0;
}

body .rn-patro-backBtn,
body .rn-patro-forwardBtn{
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

body .rn-patro-backBtn{
  background-image: url(../public/assets/img/prev.png);
  margin-left: 2rem;
}

body .rn-patro-forwardBtn{
  background-image: url(../public/assets/img/next.png);
  margin-right: 2rem;
}

body .r-n-cal-middle_part {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body .rn-patro-monthBtn-active,
body .rn-patro-yearBtn-active {
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

body .rn-patro-yearBtn{
  margin-bottom: 0.3rem;
}

body .rn-patro-yearBtn,
body .rn-patro-monthBtn {
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

body .calendar-events {
  padding-left: 0;
  list-style: none;
}


body .loading_image{
  text-align: center;
}

body .loading_image img{
  width: 30px;
}